<div class="header" id="header">
    <ul class="header-menu" id="header_menu">
        <li class="menu__item">
            <a href="#" class="menu-link"><i class="fa fa-language"></i>&nbsp;帮助文档</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu-link"><i class="fa fa-phone"></i>&nbsp;联系我们</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu-link J_menu_toggle"><i class="fa fa-user"></i>&nbsp;{{username}}&nbsp;<i class="fa fa-angle-down"></i></a>
            <ul class="menu-sublist">
                <li class="sublist__item">
                    <a href="#" class="sublist-link">用户信息</a>
                </li>
                <li class="sublist__item">
                    <a href="#" class="sublist-link">安全退出</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="header-logo">
        <img src="assets/images/logo.png" alt="" class="logo__img">
    </div>
    <!-- <ul class="header-nav">
        <li class="nav__item">
            <a href="#" class="nav-link"><i class="fa fa-dashboard"></i>&nbsp;管理控制台</a>
        </li>
    </ul> -->
</div>
