<div class="ui-search-group">
    <label for="" class="search-label">快速检索：</label>
    <div class="ui-select search__item_first">
        <h6 class="select-text">
            <i class="select-text__arrow fa fa-angle-down"></i>
            请选择楼宇
        </h6>
        <div class="select-option">
            <a href="#" class="option__item">1号楼</a>
            <a href="#" class="option__item">2号楼</a>
            <a href="#" class="option__item">3号楼</a>
        </div>
    </div>
    <div class="ui-select search__item">
        <h6 class="select-text">
            <i class="select-text__arrow fa fa-angle-down"></i>
            请选择楼宇
        </h6>
        <div class="select-option">
            <a href="#" class="option__item">1号楼</a>
            <a href="#" class="option__item">2号楼</a>
            <a href="#" class="option__item">3号楼</a>
        </div>
    </div>
    <input type="text" class="ui-input search__item" value="">
    <a href="javascript:void(0);" class="ui-button ui-button-sm search__item_last"><i class="fa fa-search"></i></a>
</div>
